<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DD</title>
    </head>
    <body>
        <form action="/login" method="POST">
            <%= 2+2 %>
            <button type="submit">submit</button>
        </form>
</body>
</html>